/*login*/
#login{
    background: url('../img/login2.jpg') no-repeat;
    background-size: 100%;
    padding: 30px 0 100px 0
}
.sign-in-inner{
    padding: 30px 50px ;
    background: #e8f7f5;
    box-shadow:0 0 10px rgba(0, 204, 204, .5)
}
/*homepage*/
#out{
    margin-top:10px
}
.submenu{
    display:block
}
.page-title{
    text-align: center;padding:20% 0
}
/*declare*/
#declare input,#declare select{
    width: 300px;
    height: 40px;
}
/*approval-publicity-supervision*/
.table{
    margin-top: 30px;
    margin-right:10%
}
/*quantity*/
#main{
    width: 600px;
    height:400px;
}
/*public-notification diaciplinary-treatment*/
.modal-border{
    padding:10px
}
.select-width{
    width: 100%
}
.btn-width{
    width: 100%
}