<div class="container">
    <div class="row">
        <h2>审批</h2>
        <form class="form-inline" role="form">
            <div class="form-group">
                <label>申报人</label>
                <input type="email" class="form-control">
            </div>
            <select class="form-control">
                <option>待审核</option>
                <option>通过</option>
                <option>拒绝</option>
            </select>
            <button class="btn btn-primary">查询</button>
        </form>
        <table class="table table-bordered" style="width:80%;margin-top: 30px;">
            <tr>
                <th>申报人</th>
                <th>部门</th>
                <th>类型</th>
                <th>人数</th>
                <th>申报时间</th>
                <th>宴请时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>

        </table>
    </div>
</div>
