<div>
    <h2>审批</h2>
    <form class="form-inline" role="form">
        <div class="form-group">
            <label>申报人</label>
            <input type="text" class="form-control" ng-model="approvallist.staff">
        </div>
        <select class="form-control" ng-change="selectStatus()"
                ng-model="approvallist.auditStatus" ng-init="approvallist.auditStatus='-1'">
            <option value="-1">待审核</option>
            <option value="1">通过</option>
            <option value="2">拒绝</option>
        </select>
        <button class="btn btn-primary" ng-click="search()">查询</button>
    </form>
    <table class="table table-striped" style="margin-top: 30px;margin-right:10%">
        <thead>
        <tr>
            <th>申报人</th>
            <th>部门</th>
            <th>类型</th>
            <th>人数</th>
            <th>申报时间</th>
            <th>宴请时间</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="obj in approvalArry">
            <td>{{obj.staff}}</td>
            <td>{{obj.staffOrgName}}</td>
            <td>{{obj.eventType==1?'婚嫁': '丧葬'}}</td>
            <td>{{obj.peopleCount}}</td>
            <td>{{obj.createTime}}</td>
            <td>{{obj.eventDate}}</td>
            <td>{{obj.auditStatus==-1?'待审核':'通过'&&obj.auditStatus==1?'通过':'待审核'&&obj.auditStatus==2?'拒绝':'待审核'}}</td>
            <td>
                <button type="button" class="btn btn-primary "
                        data-toggle="modal" data-target="#myModal" ng-click="pass()">
                    通过
                </button>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span
                                        aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">意见内容</h4>
                            </div>
                            <div class="modal-body">
                                <textarea class="form-control" rows="3" ng-model="confirmLists.content"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default button1" ng-click="confirm()"
                                        data-dismiss="modal">确定
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <button type="button" class="btn btn-danger " ng-click="reject()"
                        data-toggle="modal" data-target="#myModals">
                    拒绝
                </button>
                <!-- Modal -->
                <div class="modal fade" id="myModals" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span
                                        aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabels">意见内容</h4>
                            </div>
                            <div class="modal-body">
                                <textarea class="form-control" rows="3" ng-model="rejectLists.content"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default button1" data-dismiss="modal"
                                        ng-click="rejects()">确定
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <!--分页-->
    <!--<nav id="pagenav" style="text-align: center">-->
        <!--<ul class="pagination pagination-lg">-->
            <!--<li ng-click="previous()"><a>&laquo;</a></li>-->
            <!--<li  ng-class="{true:'currentStep',false:'step'}[num==currentPage]" ng-repeat="num in numArry|limitTo:5"-->
                <!--ng-click="changePage(num)"><span>{{num+1}}</span></li>-->
            <!--<li ng-click="next()"><a>&raquo;</a></li>-->
        <!--</ul>-->
    <!--</nav>-->
</div>

