<!--组合查询页面-->
<form class="form-inline">
    <h3>组合查询</h3>
    <div>
        <label>申请类型：</label>
        <select class="form-control" ng-change="selectStatus()"
                ng-model="com_queryCtrlList.eventType" ng-init="com_queryCtrlList.eventType='0'">
            <option value="0">全部</option>
            <option value="1">婚嫁</option>
            <option value="2">丧葬</option>
        </select>
        <label>宴请人数：</label>
        <select class="form-control" ng-model="com_queryCtrlList. peopleCount"
                ng-change="selectPeopleCount()" ng-init="com_queryCtrlList. peopleCount='0'">
            <option value="0">全部</option>
            <option value="00050">0~50</option>
            <option value="050100">50~100</option>
            <option value="100150">100~150</option>
            <option value="150200">150~200</option>
        </select>
        <button class="btn btn-default" ng-click="search()">查询</button>
    </div>
    <br>
    <div>
        <label>申报时间：</label>
        <input type="text"  class="datetimepicker" ng-model="com_queryCtrlList.eventCreateTimeFrom">
        <label>至：</label>
        <input type="text"  class="datetimepicker" ng-model="com_queryCtrlList.eventCreateTimeTo">
        <label>宴请时间：</label>
        <input type="text"  class="datetimepicker" ng-model="com_queryCtrlList.ventTimeFrom">
        <label>至：</label>
        <input type="text"  class="datetimepicker" ng-model="com_queryCtrlList.eventTimeTo">
    </div>
</form>
<br><br>
<table class="table table-striped">
    <thead>
    <tr>
        <td>申请人</td>
        <td>部门</td>
        <td>类型</td>
        <td>人数</td>
        <td>申报时间</td>
        <td>宴请时间</td>
        <td>状态</td>
        <td>批示意见</td>
    </tr>
    <tr ng-repeat="obj in com_queryyArr|limitTo:10:zero">
        <td>{{obj.staff}}</td>
        <td>{{obj.staffOrgName}}</td>
        <td>{{obj.objeventType}}</td>
        <td>{{obj.peopleCount}}</td>
        <td>{{obj.createTime}}</td>
        <td>{{obj.eventDate}}</td>
        <td>{{obj.auditStatus}}</td>
        <td>{{obj.auditContent}}</td>
    </tr>
</table>
<ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-click="paging()"></ul>