<!--纪律处分页面-->
<form>
    <h3>违纪处分</h3>
    <label>被通报人：</label>
    <div class="row">
        <div class="col-lg-2">
                <input type="text" class="form-control" ng-model="content.staff">
        </div>
        <button class="btn btn-default" ng-click="search()">查询</button>
        <div class="pull-right">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                添加
            </button>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                        </div>
                        <div class="modal-border">
                            <label>标题:</label>
                            <input type="text" class="form-control" ng-model="addData.title">
                            <br>
                            <label>人员：</label>
                            <input type="text" class="form-control" ng-model="addData.staff">
                            <br>
                            <label>部门：</label>
                            <select class="form-control select-width">
                                <option>根组织</option>
                            </select>
                            <br><br>
                            <label>内容：</label>
                            <textarea cols="90" rows="4" ng-model="addData.content"></textarea>
                            <button class="btn btn-default btn-width" ng-click="addSure()">确定</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>


<br><br>
<table class="table table-striped">
    <tr>
        <td>被通报人</td>
        <td>被通告人部门</td>
        <td>标题</td>
        <td>时间</td>
        <td>操作</td>
    </tr>
    <tr ng-repeat="data in arr">
        <td>
            <span>{{data.staff}}</span>
        </td>
        <td><span>{{data.staffOrgName}}</span></td>
        <td><span>{{data.title}}</span></td>
        <td><span>{{data.createTime}}</span></td>
        <td>
            <button class="btn btn-warning" ng-click="revamp()">修改</button>
            <button class="btn btn-danger" ng-click="remove()">删除</button>
        </td>
    </tr>
</table>
