<!--登录页面-->
<div style="background: url('img/login2.jpg') no-repeat;background-size: 100%;padding: 30px 0 100px 0">
    <div class="wrapper no-navigation preload">
        <div class="sign-in-wrapper">
            <div class="sign-in-inner" style="padding: 30px 50px ;background: #e8f7f5;box-shadow:0 0 10px rgba(0, 204, 204, .5)">
                <div class="login-brand text-center">
                    <strong class="text-skin">临汾经济技术开发区党风廉政建设责任监督系统</strong>
                </div>
                <form>
                    <div class="form-group m-bottom-md">
                        <input ng-model="user.name" type="text" class="form-control" placeholder="用户名">
                    </div>
                    <div class="form-group">
                        <input ng-model="user.password" type="password" class="form-control" placeholder="密码">
                    </div>

                    <div class="form-group">
                        <div class="custom-checkbox">
                            <input type="checkbox" id="chkRemember">
                            <label for="chkRemember"></label>
                        </div>
                        Remember me
                    </div>

                    <div class="m-top-md p-top-sm">
                        <!--<a href="#" class="btn btn-success block">登录</a>-->
                        <button ng-click="login()" class="btn btn-success block">登录</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>