<!--精确查询页面-->
<form class="form-inline">
    <h3>精确查询</h3>
    <div>
        <label>申报人：</label>
        <input type="text" class="form-control" ng-model="queryCtrlList.staff">
        <select class="form-control">
            <option>根组织</option>
        </select>
        <button class="btn btn-default" ng-click="query()">查询</button>
    </div>
</form>
<br><br>
<table class="table table-striped" style="margin-right:10%">
    <tr>
        <td>申报人</td>
        <td>部门</td>
        <td>类型</td>
        <td>人数</td>
        <td>申报时间</td>
        <td>宴请时间</td>
        <td>状态</td>
        <td>批示意见</td>
    </tr>
    <tr ng-repeat="obj in queryArr">
        <td>{{obj.staff}}</td>
        <td>{{obj.staffOrgName}}</td>
        <td>{{obj.objeventType}}</td>
        <td>{{obj.peopleCount}}</td>
        <td>{{obj.createTime}}</td>
        <td>{{obj.eventDate}}</td>
        <td>{{obj.auditStatus}}</td>
        <td>{{obj.auditContent}}</td>
    </tr>
</table>
