<!--现场监督页面-->
<div>
    <h3>现场监督</h3>
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <label>申报人:</label>
            <input type="text" class="form-control" ng-model="superviseUser.staff">
            <select class="form-control" ng-change="superviseChange()" ng-model="superviseUser.superviseStatus" ng-init="superviseUser.superviseStatus='-1'">
                <option value="-1">未监督</option>
                <option value="1">已监督</option>
            </select>
            <button class="btn btn-default" ng-click="query()">查询</button>
        </div>
    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>申报人</th>
            <th>部门</th>
            <th>类型</th>
            <th>人数</th>
            <th>申报时间</th>
            <th>宴请时间</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody ng-repeat="lists in list|limitTo:10:zero">
        <tr>
            <td>{{lists.staff}}</td>
            <td>{{lists.staffOrgName}}</td>
            <td>{{lists.eventType==1?'婚嫁':'丧葬'}}</td>
            <td>{{lists.peopleCount}}</td>
            <td>{{lists.createTime}}</td>
            <td>{{lists.eventDate}}</td>
            <td>{{lists.superviseStatus==null?'未监督':'已监督'}}</td>
            <td>
                <!--监督报告弹框-->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="supervise()">
                    监督报告
                </button>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">标题:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" ng-model="determine.title">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">内容:</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" rows="3" ng-model="determine.content"></textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="reportConfirm()">确定</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--违纪登记弹框-->
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal2" ng-click="discipline()">
                    违纪登记
                </button>
                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">礼金超标:</label>
                                        <div class="col-sm-10">
                                            <label class="radio-inline">
                                                <input type="radio" name="inlineRadioOptions3" value="1" ng-model="disciplineData.isCashGiftOutOfLimits"> 是
                                            </label>
                                        <label class="radio-inline">
                                                <input type="radio" name="inlineRadioOptions3" value="0" ng-model="disciplineData.isCashGiftOutOfLimits"> 否
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">使用公车:</label>
                                        <div class="col-sm-10">
                                            <label class="radio-inline">
                                                <input type="radio" name="inlineRadioOptions4" value="1" ng-model="disciplineData.isUsePublicCar"> 是
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="inlineRadioOptions4" value="0" ng-model="disciplineData.isUsePublicCar"> 否
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">使用公产:</label>
                                        <div class="col-sm-10">
                                            <label class="radio-inline">
                                                <input type="radio" name="inlineRadioOptions" value="1" ng-model="disciplineData.isUsePublicGoods"> 是
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="inlineRadioOptions" value="0" ng-model="disciplineData.isUsePublicGoods"> 否
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">使用公物:</label>
                                        <div class="col-sm-10">
                                            <label class="radio-inline">
                                                <input type="radio" name="inlineRadioOptions1" value="1" ng-model="disciplineData.isUsePublicAsserts"> 是
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="inlineRadioOptions1" value="0" ng-model="disciplineData.isUsePublicAsserts"> 否
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">使用公款:</label>
                                        <div class="col-sm-10">
                                            <label class="radio-inline">
                                                <input type="radio" name="inlineRadioOptions2" value="1" ng-model="disciplineData.isUsePublicMoney"> 是
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="inlineRadioOptions2" value="0" ng-model="disciplineData.isUsePublicMoney"> 否
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">附件:</label>
                                        <div class="col-sm-10">
                                            <input id="input-1" type="file" class="file" ng-model="disciplineData.attachmentFileCode" ng-init="appData.content">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">其他问题:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" ng-model="disciplineData.otherQuestion">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">意见内容:</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" rows="3" ng-model="disciplineData.content"></textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="disciplineConfirm()">确定</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-click="paging()"></ul>
</div>