<!--现场监督页面-->
<div>
    <h3>现场监督</h3>
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <label>申报人:</label>
            <input type="text" class="form-control">
            <select class="form-control">
                <option>未监督</option>
                <option>已监督</option>
            </select>
            <button class="btn btn-default">查询</button>
        </div>
    </form>
    <table class="table table-striped" style="margin-bottom: 300px">
        <thead>
        <tr>
            <th>申报人</th>
            <th>部门</th>
            <th>类型</th>
            <th>人数</th>
            <th>申报时间</th>
            <th>宴请时间</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>